:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --light-mode-elements: #fff;
  --light-mode-bg: hsl(0, 0%, 98%);
}

.app {
  background-color: var(--light-mode-bg);
  min-height: 100vh;
  height: 100%;
}

.app.darkMode {
  background-color: var(--dark-mode-bg);
  color: white;
}

.app-body {
  margin: 15px auto 0;
  max-width: 1400px;
  padding: 15px;
}

.header {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.header-container {
  justify-content: space-between;
  display: flex;
  max-width: 1400px;
  align-items: center;
  margin: 0 auto;
}

.switch-mode {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  display: flex;
  background-color: white;
  width: 300px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.search-input input {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}

.select-region {
  background-color: white;
  width: 300px;
  width: 300px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.select-region select {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.countries {
max-width: 1400px;
display: flex;
padding: 15px;
align-items: center;
justify-content: center;
gap: 35px;
flex-wrap: wrap;
}

.country {
  background-color: white;
  width: 305px;
  cursor: pointer;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  height: 370px;
  border-radius: 5px;
}

.country.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}

.country .flag-container {
  width: 100%;
  height: 170px;
}

.country .flag-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.country .name {
  margin-bottom: 10px;
}

.country .values {
  color: grey;
}

.country .values.darkMode {
  color: lightgrey;
}

.country .details {
  padding: 15px;
}

.country .details .p {
  margin-bottom: 5px;
}

.country-details {
  padding: 15px;
  margin: 15px auto 0;
  min-height: 100vh;
  max-width: 1400px;
}

.back {
  border: 0;
  background-color: white;
  outline: 0;
  width: 160px;
  margin-bottom: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 10px;
  cursor: pointer;
  font-weight: bold;
}

.back.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}

.country-details-body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px
}

.img-container {
  flex: 0.5;
  

}

.img-container img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  
}

.info {
  flex: 0.5;
}

.info.darkMode {
  color: white;

}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  
}

.info h2 {
  margin-bottom: 15px;
}

.info .values {
  color: grey;
}

.info .values.darkMode {
  color: lightgrey;
}

.border-country {
  cursor: pointer;
  background-color: white;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.border-country.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}

