:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --light-mode-elements: #fff;
  --light-mode-bg: hsl(0, 0%, 98%);
}

.app {
  background-color: var(--light-mode-bg);
  min-height: 100vh;
  height: 100%;
}

.app.darkMode {
  color: white;
  background-color: var(--dark-mode-bg);
}

.app-body {
  margin: 15px auto 0;
  max-width: 1400px;
  padding: 15px;
}

.header {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.header.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}

.header-container {
  justify-content: space-between;
  display: flex;
  max-width: 1400px;
  align-items: center;
  margin: 0 auto;
}

.switch-mode {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  display: flex;
  background-color: white;
  width: 300px;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.search-input.darkMode {
  color: white;
  background-color: var(--dark-mode-elements);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.darkMode ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.darkMode :-ms-input-placeholder.darkMode { /* Internet Explorer 10-11 */
  color: white;
}

.darkMode ::-ms-input-placeholder .darMode { /* Microsoft Edge */
  color: white;
}


.search-input.darkMode input {
  color: white;
  background-color: var(--dark-mode-elements);
}

.search-input input {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: rgb(61, 35, 35);
}


.select-region {
  background-color: white;
  width: 200px;
  
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.select-region.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;

}

.select-region select {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
 
}

option {
  background-color: white;
}

.select-region.darkMode select {
  color: white;
}

.countries {
max-width: 1400px;
display: flex;
padding: 15px;
align-items: center;
justify-content: center;
gap: 35px;
flex-wrap: wrap;
}

.country {
  background-color: white;
  width: 305px;
  cursor: pointer;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  height: 370px;
  border-radius: 5px;
}

.country.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
 
}

.country .flag-container {
  width: 100%;
  height: 170px;
}

.country .flag-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.country .name {
  margin-bottom: 10px;
}

.country .values {
  color: grey;
}

.country .values.darkMode {
  color: lightgrey;
}

.country .details {
  padding: 15px;
}

.country .details .p {
  margin-bottom: 5px;
}

.country-details {
  padding: 10px;
  margin: 10px auto 0;
  min-height: 100vh;
  max-width: 1400px;
}

.back {
  border: 0;
  background-color: white;
  outline: 0;
  width: 130px;
  margin-bottom: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 10px;
  cursor: pointer;
  font-weight: bold;
}

.back.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}

.country-details-body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px
}

.img-container {
  flex: 0.5;
  

}

.img-container img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  
}

.info {
  flex: 0.5;
  
}

.info.darkMode {
  color: white;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  
  
}

.info h2 {
  margin-bottom: 5px;
}

.info .values {
  color: grey;
}

.info .values.darkMode {

  color: lightgrey;
}

.border-country {
  cursor: pointer;
  background-color: white;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.border-country.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}

@media (max-width: 800px) {
  .country-details-body {
    flex-direction: column;
  }

  .info-container {
    align-items: flex-start;
    flex-direction: column;
  }

  .left-side-info {
    margin-bottom: 20px;
  }
}

@media (max-width: 720px) {
  .inputs {
    margin-bottom: 15px;
    flex-direction: column;
  }

  .search-input {
    margin-bottom: 20px;
  }

  .switch-mode {
    flex: 0.5;
    justify-content: flex-end;
    font-size: 12px;
  }

  .logo {
    font-size: 17px;
    flex: 0.5;
  }
}